# Auto-strip notebook metadata
*.ipynb filter=nbstripout -s

# Normalize line endings
* text=auto
*.py text eol=lf
*.ipynb text eol=lf

# Treat as binary
*.png binary
*.jpg binary
*.pdf binary
*.zpln filter=nbstripout
*.ipynb diff=ipynb
